<ion-content [scrollY]="false">
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            Welcome<br><br>
            Let us take care of you for the weekend
        </ion-slide>
        <ion-slide>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            Escape<br><br>
            Let us take care of you for the weekend
        </ion-slide>
        <ion-slide>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            Luxury<br><br>
            Let us take care of you for the weekend
        </ion-slide>
      </ion-slides>
  </ion-content>
  
  <ion-footer>
      <div class="container-fluid h-100" style="background-color:transparent;">
          <div class="row justify-content-center h-100" style="background-color:transparent">
            <div class="col-99 align-self-end text-center" style="margin: 10px;width:98%">
                <button class="btn btn-custom btn-lg btn-block" (click)="login()">Let's go</button>
            </div>
          </div>
        </div>
  </ion-footer>
    