ion-content{
    --background: #010001 url("../../../assets/imgs/welcome_bg.png") no-repeat center center / cover;
    margin:0;
    height: 100% !important;
    ion-slides {
        background-color: transparent;
        --bullet-background: rgba(255, 254, 254, 0.719);
        --bullet-background-active: white;
        //height: 100%;
        color: whitesmoke;
        height: 100% !important;
    }
}

.btn-custom {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #924f3b), color-stop(1, #881d04));
	background:-moz-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-webkit-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-o-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-ms-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:linear-gradient(to bottom, #924f3b 5%, #881d04 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#924f3b', endColorstr='#881d04',GradientType=0);
	background-color:#924f3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;}

ion-img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
// ion-slides {
//     height: 200px;
//     position: absolute;
//     bottom: 0;
//     background-color: white;
//     --bullet-background: blue;
//     --bullet-background-active: blue;
//     ion-slide {
//         color: white;
//     }

//     h4 {
//         font-weight: bold;
//     }
// }
.grid{
    padding: 8px;
}
button {
    font-weight: bold;
}
ion-footer{
    margin:0;
    background-color: #010001;
}
    