<ion-content [scrollY]="false" [scrollY]="false">
  <ion-grid [fixed]="true">
    <ion-row class="row-top">
      <ion-col align-items-start text-center class="col-top">
      </ion-col>
    </ion-row>

    <ion-row class="row-logo">
      <ion-col align-items-center text-center class="col-logo">
      </ion-col>
    </ion-row>
    <ion-row class="row-logo-title">
        <ion-col align-items-center text-center class="col-logo-title">
          TRUST
        </ion-col>
      </ion-row>
      <ion-row class="row-logo-title-alt">
          <ion-col align-items-center text-center class="col-logo-title-alt">
              Transparency Reservation Unity Space optimization Time check
          </ion-col>
        </ion-row>
        <ion-row class="row-bottom">
      <ion-col align-items-end text-center class="col-bottom">
        <ion-item lines="none">
          <ion-label position="fixed"><ion-icon name="person"></ion-icon></ion-label>
          <ion-input clearInput 
            autocapitalize="false" 
            autocomplete="false" 
            autocorrect="false" 
            inputmode="email"
            name="username"
            required="true"
            spellcheck="false"
            placeholder="Staff id"
            [(ngModel)]="userData.username"
            >
          </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="fixed"><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input clearInput 
            autocapitalize="false" 
            autocomplete="false" 
            autocorrect="false" 
            inputmode="password"
            type="password"
            name="username"
            required="true"
            spellcheck="false"
            placeholder="TM IDSS password"
            [(ngModel)]="userData.password"

            >
          </ion-input>
        </ion-item>
        <ion-item class="ion-item-button" lines="none">
          <button class="btn btn-custom btn-lg btn-block" (click)="doLogin()">Login</button>
        </ion-item>
        <span>Password is managed by TM IDSS</span>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
