ion-content{
    --background: #010001 url("../../../assets/imgs/trust_bg.png") no-repeat center center / cover;
    z-index: -1000;
    margin:0;
    height: 100% !important;
    ion-slides {
        background-color: transparent;
        --bullet-background: rgba(255, 254, 254, 0.719);
        --bullet-background-active: white;
        //height: 100%;
        color: whitesmoke;
        height: 100% !important;
    }
}

.btn-custom {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #924f3b), color-stop(1, #881d04));
	background:-moz-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-webkit-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-o-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-ms-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:linear-gradient(to bottom, #924f3b 5%, #881d04 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#924f3b', endColorstr='#881d04',GradientType=0);
	background-color:#924f3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;}

ion-grid{
    --ion-grid-width:100%;
    --background-color: #ffffff;
    border: 0;
    height:100%;
    ion-row{
        // height:100%;
        --ion-grid-width:100%;
    }
}

.row-top{
    height:15%;
    .col-top{
        //background-color: yellow;
        // height:20%
        align-self: stretch;
    }
}

.row-logo{
    height:25%;
    .col-logo{
        background-image:  url("../../../assets/imgs/logo.png");
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        align-self: stretch;
    }
    
}

.row-logo-title{
    height:5%;
    .col-logo-title{
        color: white;
        font-size: 20px;
    }
}

.row-logo-title-alt{
    height:5%;
    .col-logo-title-alt{
        color: white;
        font-size: 14px;
    }
    
}

.row-bottom{
    height:40%;
    .col-bottom{
        //background-color: blue;
        //height:40%;
        padding-top: 40px;
        ion-item{
            margin-bottom: 4px;
            ion-label{
                --color: #010001;
                min-width: 20px !important;
                max-width: 20px !important;    
            }
            ion-input{
                --background: #fff;
                --color: #010001;
                --placeholder-color: #01000180;
            //    --padding-start: -20px;
                --padding-end: 20px;
                text-align: left;
                height: 45px;
                border-radius:5px;
                border:1px solid #fff;
            }
        }
        .ion-item-button{
            margin-top: 20px;
            --background: transparent;
        }
        span{
            font-size: 13px;
            color: white;
        }
    }
}

.btn-custom {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #924f3b), color-stop(1, #881d04));
	background:-moz-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-webkit-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-o-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-ms-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:linear-gradient(to bottom, #924f3b 5%, #881d04 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#924f3b', endColorstr='#881d04',GradientType=0);
	background-color:#924f3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;}
