.header{
    --background: #010001;
    color: whitesmoke;
}

ion-content{
    --background: #010001 url("../../../assets/imgs/trust_bg.png") no-repeat center center / cover;
    z-index: -1000;
    margin:0;
    color: whitesmoke;
    align-content: center;
    align-self: center;
    align-items: center;
}

ion-item{
    --background: rgba(255, 255, 255, 0.041);
    width: 90%;
}

.history-title{
    padding-top: 20px;
    color: whitesmoke;
}

.hide {
    display: none;
}

div.history-outest{
    // background-color:blue;
    text-align: center;
    div.history-outer{
        display: inline-block;
        width: 95%;text-align: center;
        margin-bottom: 10px;
        div.history-box{
            text-align: center;
            div.param{
                width:46%;
                background-color:rgba(255, 255, 255, 0.164);
                text-align: left;height: 30px;
                color: white;
                font-size: 18px;
                padding-left: 10px;
            }
            div.value{
                width:46%;
                background-color:rgba(255, 255, 255, 0.164);
                text-align: right;height: 30px;
                color: rgba(255, 255, 255, 0.747);
                font-size: 18px;
                padding-right: 10px;
            }
            div.transparent{
                background-color: transparent;
            }
        }
    }
}

.message{
    padding-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
    font-size: 18px;
}

.btn-custom {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #924f3b), color-stop(1, #881d04));
	background:-moz-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-webkit-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-o-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:-ms-linear-gradient(top, #924f3b 5%, #881d04 100%);
	background:linear-gradient(to bottom, #924f3b 5%, #881d04 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#924f3b', endColorstr='#881d04',GradientType=0);
	background-color:#924f3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;}

ion-grid{
    --ion-grid-width:100%;
    --background-color: #ffffff;
    border: 0;
    height:100%;
    ion-row{
        // height:100%;
        --ion-grid-width:100%;
    }
}

.row-top{
    height:15%;
    .col-top{
        //background-color: yellow;
        // height:20%
        align-self: stretch;
    }
}

.history-row{
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
    .param{
        text-align: left;
        color: white;
        // background-color: #854629;
        width: 100%;
    }
    .value{
        text-align: right;
        color: rgba(255, 255, 255, 0.815);
        // background-color: #942911;
        width: 100%;
    }
}