<ion-header translucent="false">
    <ion-toolbar class="header">
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu" class="header"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>HOME</ion-title>
      </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-grid>
      <ion-row justify-content-center class="message">
        <span class="text-normal message" ng-show="message != null">
          {{message}}
        </span>
        </ion-row>    
        <div class="w-100 history-outest" [ngClass]="{hide: status==='0'}">
            <div class="row justify-content-center history-outer">
              <div class="row justify-content-center history-box">
                <div class="col-99 param transparent">
                    Location :
                </div>
                <div class="col-99 value transparent">
                    {{detail.name}}
                </div>
              </div>
              <div class="row justify-content-center history-box">
                <div class="col-99 param transparent">
                    Datetime :
                </div>
                <div class="col-99 value transparent">
                    {{detail.datetime}}
                </div>
              </div>
              <div class="row justify-content-center history-box">
                <div class="col-99 param transparent">
                    Start :
                </div>
                <div class="col-99 value transparent">
                    {{detail.start}}
                </div>
              </div>
              <div class="row justify-content-center history-box">
                <div class="col-99 param transparent">
                    End :
                </div>
                <div class="col-99 value transparent">
                    {{detail.end}}
                </div>
              </div>    
            </div>
          </div>
        <!--all button goes here-->
        <ion-row [class.hide]="!reserveButton">
          <ion-col col-19>
            <button class="btn btn-custom btn-lg btn-block" (click)="reserve()">Reserve</button>
          </ion-col>
        </ion-row>
        <ion-row [class.hide]="!releaseReserveButton">
          <ion-col col-19>
            <button class="btn btn-custom btn-lg btn-block" (click)="unreserve()">Release Reservation</button>
          </ion-col>
        </ion-row>
        <ion-row [class.hide]="!checkinButton">
          <ion-col col-19>
            <button class="btn btn-custom btn-lg btn-block" (click)="checkin()">Check-In</button>
          </ion-col>
        </ion-row>
        <ion-row [class.hide]="!checkoutButton">
          <ion-col col-19>
            <button class="btn btn-custom btn-lg btn-block" (click)="checkout()">Check-Out</button>
          </ion-col>
        </ion-row>
        <ion-row [class.hide]="reserveButton">
          <ion-col col-19>
            <button class="btn btn-custom btn-lg btn-block" (click)="refreshme()">Refresh</button>
          </ion-col>
        </ion-row>
        <!--histories goes here-->
        <ion-row justify-content-center class="history-title">
          HISTORY
        </ion-row>
        <div class="w-100 history-outest">
            <div class="row justify-content-center history-outer" *ngFor ="let data of history">
              <div class="row justify-content-center history-box">
                <div class="col-99 param">
                    Location :
                </div>
                <div class="col-99 value">
                    {{data.name}}
                </div>
              </div>
              <div class="row justify-content-center history-box">
                <div class="col-99 param">
                    Start :
                </div>
                <div class="col-99 value">
                    {{data.start}}
                </div>
              </div>
              <div class="row justify-content-center history-box">
                <div class="col-99 param">
                    End :
                </div>
                <div class="col-99 value">
                    {{data.end}}
                </div>
              </div>    
            </div>
          </div>
    </ion-grid>
</ion-content>